SOURCE_DB_HOST=localhost
SOURCE_DB_PORT=5433
SOURCE_DB_NAME=sgfood_source
SOURCE_DB_USER=sgfood
SOURCE_DB_PASSWORD=sgfood_source_2026

TARGET_DB_HOST=localhost
TARGET_DB_PORT=5434
TARGET_DB_NAME=sgfood_dw
TARGET_DB_USER=sgfood
TARGET_DB_PASSWORD=sgfood_dw_2026

CSV_DIR=data/csv
RAW_DDL_PATH=sql/create_raw.sql
DB_CONNECT_ATTEMPTS=10
DB_CONNECT_DELAY_SECONDS=2
EXTRACT_BATCH_SIZE=1000
LOG_LEVEL=INFO
LOG_FILE=logs/python_raw_load.log

